<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <a class="brand" href="#">New User</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Sign In', new_user_path %></li>
      <li><%= link_to 'Back', users_path %></li>
    </ul>
  </div>    
</div> 
<div class="container">
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>