<%= form_for(@sandwich_order) do |f| %>
  <% if @sandwich_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sandwich_orders.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @sandwich_orders.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sandwich_type %><br />
    <%= f.collection_select(:sandwich_type, SandwichOrderType.all, :sandwich_type, :sandwich_type) %>

  </div>
  <div class="submit"> 
    <%= f.submit %>
  </div>
<% end %>
