<div class="navbar navbar-fixed-top navbar-inverse">  
  <div class="navbar-inner">  
    <a class="brand" href="#">Order Summary</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Edit', edit_sandwich_order_path(@sandwich_order) %></li>
	  <li><%= link_to 'Back', new_sandwich_order_path %></li>
    </ul>
  </div>    
</div> 
<div class="container">
	<% if flash[:error] %>
		  <div class="alert alert-error">
			  <%= alert %>
		  </div>
    <% elsif flash[:notice] %>
		  <div class="alert alert-block">
		  	<%= notice %>
		  </div>
	<% end %>

	<p>
	  <b>You ordered the following sandwich:</b>
	  <%= @sandwich_order.sandwich_order_type.sandwich_type %>
	</p>
</div>
<%= link_to image_tag("cut_sandwich.jpg", alt: "Sandwich"), '#' %>






